@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

  <h2>Seja bem-vindo Sr(a). @User.Identity.Name</h2>
    <br><br>
    <a href="~/Usuario/Logout">Realizar o logout</a>